.custom-radio-group {
    display: flex;
    gap: 10px;
}

.custom-radio-group .ant-radio-button-wrapper {
    border-radius: 8px !important;
    border: 0px;
    background-color: #f2f2f2;
    color: #515761;
    display: flex;
    align-items: center;
}

.custom-radio-group .ant-radio-button-wrapper::before {
    display: none;
}

.custom-radio-group .ant-radio-button-checked {
    background-color: #972d47;
    border-radius: 8px;
}

.custom-radio-group .ant-radio-button-wrapper span {
    font-weight: 500;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: normal;
}

.custom-radio-group .ant-radio-button-wrapper-checked span {
    color: #ffffff !important;
}
