.custom-table-checkbox .ant-checkbox-wrapper {
    margin-inline-start: 0px;
}

.custom-table-checkbox {
    gap: 2px;
}

.custom-table-filter {
    display: flex;
    gap: 5px;
    color: #972d47;
}

.custom-table-filter > .ant-typography {
    color: #972d47;
    font-weight: bold;
}

.custom-table-search .ant-input-group-addon {
    background: #303f49;
    color: #fff;
}

.custom-table .ant-table-thead > tr > th {
    color: #ffffff;
    background-color: #303f49;
    border-right: 0;
}

.custom-table .ant-table-thead .ant-table-cell::before {
    display: none;
}

.custom-table .ant-table-tbody > tr:not(:first-child):nth-child(odd) > td {
    background-color: #eff4f8;
}

.custom-table .ant-form-item {
    margin-bottom: 0px !important;
}

/* .custom-table .ant-table-cell {
    max-width: 200px;
    min-width: 150px;
} */

.custom-table .ant-table-container {
    overflow-x: auto;
}

.custom-table .ant-table-thead .ant-table-cell:first-child {
    border-start-start-radius: 0px !important;
}

.custom-table .ant-table-thead .ant-table-cell:last-child {
    border-start-end-radius: 0px !important;
}

.table-dropdown-popup {
    min-width: max-content !important;
}

.custom-v2-table .ant-table-thead .ant-table-cell {
    background-color: #e5e5e5;
}

.custom-v2-table .ant-table-thead .ant-table-cell::before {
    display: none;
}

.custom-v2-table .ant-table-thead .ant-table-cell:first-child {
    border-start-start-radius: 0px !important;
}

.custom-v2-table .ant-table-thead .ant-table-cell:last-child {
    border-start-end-radius: 0px !important;
}
